*{
	margin: 0px;
	padding: 0px;
}
header
{
	height: 50px;
/*	border:1px solid #000;*/
	background: darkgreen
	/*animation-name:efecto1;
	animation-duration: 3s;
	animation-direction: alternate;
	animation-iteration-count: 3;
	*/
	
}

body{
    background-color: white;
 }

 body.obscuro{
    background-color: darkcyan;
 }
ul,ol
{
	list-style: none;
	width: 450px;
	margin: 0px auto;
	float: right;
	width: 800;
}

li
{

	display: inline-block;
	width: 145px;
	height: 25px;
	text-align: center; /*JUSTIFCADO ---- JUSTIFY. DERECHA ------- LEFT. RIGHT----IZQUIERDA */
	line-height: 25px;
	font-size: 20px;
	font-weight: bold;
	color: #FFF; 
	margin-left: -5px;
	float: right;
	width: 800;
	margin-top: 12.5px;

}

/* Clases */

.logo
{
	float: left;
    width: 225px;
    background: white;
}
button{
    background-color: darkslategrey;
	width: 64px;
	height: 32px;
    margin-left: 10%;
    color: white;
    font-size: 10px;
	float: right;
	margin-top:-28px;
	margin-right:400px;

 }

 

 body.obscuro{
	background-color: #121212;
	color: #FFF;
 }

 body.claro{
	background-color: white;
	color: #000;
	
 }

 /*Identificadores */
 #claro 
 {
	 margin-right: 480px;
	 float: right;
	 margin-top: -32px;


 }